html, body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #FFFFFF, #CCCCDD);
}

h1, h2, h3, h4, h5, h6, p, ul, th, td{
  color: #404040;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}


div{
    width: 100vw;
    height: 40vw;
   max-width: 60%;
   max-height: 80%;
   margin: auto;
   glow: 1px;
   border-style: solid;
   border-width: 1px;
   border-color: #AAAAAA;
   border-radius: 5px;
   background-image: linear-gradient(#FFFFFF, #EEEEEE);
    overflow: scroll;
}


.title{
  text-align: center;
  position: relative;
  font-size: 2.5vw;

}

.logBox{
    position: relative;
    top: 10px;
}

li{
    position: relative;
    border-bottom: 1px solid #CCCCDD;
}

.reason{
    text-align: left;
    width: 50%;
    position: absolute;
}

.score{
    left: 45%;
    width: 50%;
    text-align: right;
    position: absolute;
}

table{
    width: 100%;

}

th, td{
    width: 33%;
    text-align: center;
}