<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body onload="onLoad()">
    <form id="form" method="post" action="/">
        <label for="password">Password</label>
        <input id="password" type="text">

        <label for="inp">Amount</label>
        <input id="inp" type="number">
        <p>A: {{scores[0][0]}}   <button onclick="updateScore(1, false)" type="button">-</button> <button onclick="updateScore(1, true)" type="button">+</button></p>
        <p>B: {{scores[1][0]}}   <button onclick="updateScore(2, false)" type="button">-</button> <button onclick="updateScore(2, true)" type="button">+</button></p>
        <p>C: {{scores[2][0]}}   <button onclick="updateScore(3, false)" type="button">-</button> <button onclick="updateScore(3, true)" type="button">+</button></p>
        <p>D: {{scores[3][0]}}   <button onclick="updateScore(4, false)" type="button">-</button> <button onclick="updateScore(4, true)" type="button">+</button></p>
        <p>E: {{scores[4][0]}}   <button onclick="updateScore(5, false)" type="button">-</button> <button onclick="updateScore(5, true)" type="button">+</button></p>
        <p>F: {{scores[5][0]}}   <button onclick="updateScore(6, false)" type="button">-</button> <button onclick="updateScore(6, true)" type="button">+</button></p>
    </form>
    <script src="{{url_for('static', filename='admin.js')}}"></script>
</body>
</html>