<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade 11 competition</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body style="width:100%;">
<canvas id="myChart" style="width:100%;"></canvas>
<script>
var xValues = ["11A", "11B", "11C", "11D", "11E", "11F"];
var yValues = {{scores}};
var barColors = ["red", "green","blue","orange","brown", "yellow"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
     scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
     },


    legend: {display: false},
    title: {
      display: true,
      text: "grade 11 competition"
    }

    }
});
</script>
</body>
</html>